# Banco de dados (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/manjiro-scripts

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=troque-por-um-segredo-forte-muito-forte

# Google OAuth
GOOGLE_CLIENT_ID=seu-client-id-google
GOOGLE_CLIENT_SECRET=seu-client-secret-google

# Mercado Pago
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=sua-public-key-mercado-pago
MERCADO_PAGO_ACCESS_TOKEN=seu-access-token-mercado-pago
