DATABASE_URL=postgresql://user:password@localhost:5432/manjiro-scripts
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=troque-por-um-segredo-forte

GOOGLE_CLIENT_ID=seu-client-id-google
GOOGLE_CLIENT_SECRET=seu-client-secret-google

NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=sua-public-key-mercado-pago
MERCADO_PAGO_ACCESS_TOKEN=seu-access-token-mercado-pago
